appdirs==1.4.4
imageio==2.9.0
importlib-metadata==1.7.0
meshio==4.2.0
numpy==1.19.2
opencv-python-headless==4.4.0.42
Pillow==7.2.0
PyQt5==5.15.0
PyQt5-sip==12.8.1
pyvista==0.26.0
pyvistaqt==0.2.0
scooby==0.5.6
six==1.15.0
vtk==9.0.1
wxPython==4.1.0
zipp==3.1.0
python-utils==2.4.0
numpy-stl==2.11.2
